body,header, nav, ul, li, h1,div {
  padding: 0;
  margin: 0;
}

ul,li,h1,div ::selection {
   background: transparent;
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

input {
  font-family: 'Rubik', sans-serif;
}

.btn {
  padding: 10px 10px 10px 20px;
  background-color: #3300ff;;
  border: 0;
  box-shadow: 2px 2px 15px #f1f1f1;
  border-radius: 30px;
  color: #fff;
}

#login input {
  margin-right: 20px;
  padding: 15px 30px 15px 30px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
}

#login input::placeholder {
  font-size: 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}

#login input[type="submit"] {
  margin-left: 30px;
  padding: 15px 30px 15px 30px;
  border: 0;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: inset 0px 0px 0px 3px #3300ff;;
  border-radius: 30px;
  color: #3300ff;;
  font-size: 15px;
  -webkit-transition: background-color 0.15s ease-out;
  -moz-transition: background-color 0.15s ease-out;
  -o-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
}

#login input[type="submit"]:hover {
  cursor: pointer;
  background-color: #3300ff;
  transition: box-shadow 0.2s ease-out;
  box-shadow: inset 0px 0px 0px 3px #3300ff , 0px 5px 20px rgba(51, 0, 255, 0.23);
  color: #fff;
}

#login {
  background-color: #f1f2f6;
  padding: 10px;
}

.registration_btn {
  font-weight: 500;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  background-color: #fff;
}

.btn_bck {
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.0);
}

.btn_bck:hover {
  transition: box-shadow 0.15s ease-out;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
}

input[type="checkbox"] {
  margin: 20px 5px 15px 5px;
}

.test_table {
  display: inline-block;
  padding: 10px;
  background-color: #bfbfbf;
  border-radius: 20px;
}

.test_table li {
  margin: 10px;
  display: inline-block;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  background-color: #142b4d;
  border-radius: 10px;
}

/*##### menu ######*/
.menu {
  height: 40px;
  background-color: #fff;
}

.menu ul {
  margin: 20px;
}

.menu ul li  {
  font-size: 16px;
  color: #657195;
  font-weight: 500;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}

.menu .logo {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}

.menu .online-school {
  color: #fff;
  font-size: 14px;
  font-weight: 400px;
  padding: 10px;
  background: #3300ff;
}

.menu .nav_menu {
  display: inline-block;
  float: right;
}

.menu .nav_menu li:hover {
  color:#3300ff;
  cursor: pointer;
  transition: color 0.3s ease-out;
}
